body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.body {
  font-size: 14px;
  background-image: url(https://discordik.ru/wp-content/uploads/2021/02/fon-dlya-diskorda.png)   ;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  min-height: 610px;
}
.registetr {
min-height: 100px;
width: 40%;
color:  #fff;
position: relative;
border: rgb(36, 36, 33) solid 2px;
position: relative;
left: 30%;
z-index: 2;
background-color: rgb(34, 34, 33) ;

}
.registetrcontent {
max-height: 30%;

}

.regiserinput {
width: 80%;
background-color: rgb(10, 10, 10);
height: 20px;
color: #fff;
margin-left: 40px;

}
.regiserinput1 {
  width: 80%;
  background-color: rgb(10, 10, 10);
  height: 20px;
  color: #fff;
  margin-left: 40px;
  margin-bottom: 40px;
  
  }
  .Creatacount {
    text-align: center;
    font-size: 20px;
    opacity: 0.9;
  }
.email{
  margin-left: 40px;
  opacity: 0.8;
}
.Name {
  margin-left: 40px;
  opacity: 0.8;
}
.pasword1 {
  margin-left: 40px;
  opacity: 0.8;
}

.pasword2 {
  opacity: 0.8;
  margin-left: 40px;
}
.logopng {
  min-height: 3%;
  max-width: 5%;
  margin-top: 20px;
  margin-left: 60px;
}
.registorbtn {
  display: flex;
  position: absolute;
  top: 105%;
  right: 30%;
  height: 30px;
  width: 200px;
  color: #fff;
  background-color: rgb(24, 24, 22);
  text-align: center;
}
.textbtnregist {
  position: absolute;
  top : -25%;
  left: 42%;
}




























